
Binary/GiveYourVoice.exe
Binary/GiveYourVoice
lib/
backup/
*.sh~
*.exe
*.gz
ReleaseTools/GiveYourVoice_v1.0_Win64_setup.exe
ReleaseTools/giveyourvoice_linux64_gtk2_no_install.tar.gz
ReleaseTools/giveyourvoice_linux32_gtk2_no_install.tar.gz
Binary/GiveYourVoice.dbg
Binary/x86_64-linux/libopenal.so.bak
.DS_Store
*.lps
